:80 {
    @install path /install /install-counts /healthz
    handle @install {
        reverse_proxy install-counter:8787
    }

    handle {
        root * /www
        file_server
        try_files {path} {path}.html {path}/ /index.html
        encode gzip
    }

    log {
        output file /logs/access.log
    }
}
